@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

button {
    box-shadow: 3px 3px 5px #888888;
    margin: 10px;
    border-radius: 55px;
    height: 30px;
    
}

body{
  font-family: 'Poppins',
    sans-serif;
}

table {
  width: 100%;
  text-align: left;
}

table,
th,
td {
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
  height: 2.15em;

}

th,
td {
  padding: .5em;
  min-width: 3.5em;
}

thead {
  background: #7A7A7A;
  color: #FCFCFC;
}





th {
  background-color: black;
  border-color: #EDEBEB;
}

td {
  color: black;
}

